<!DOCTYPE html>

<!--<!DOCTYPE HTML>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb" xmlns:height="http://www.w3.org/1999/xhtml">-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link th:href="@{/css/mainpage.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/mainpage.js}" />

</head>

<body id = "body">

<div id = "containerBlock">

    <div id = "column1">
        <div id = "toDoColumn">
            <p th:text = "${toDoColumn.name}"></p>
            <div id = "TO DO"><Button class = "addButton" style="background-color: #ff4f17">Add new ticket</Button></div>
        </div>
        <div class="container2" th:each="data, iterstat: ${toDoColumnTickets}"  th:id="|td${iterstat.index}|" style="background-color: #FF4F17">
            <form class="ticketForm" method="post">
                <div class="row">

                    <div class="col-25">
                        <label>Name</label>
                    </div>

                    <div class="col-75">
                        <input type="text" class="name2" name="name"  maxlength="30" th:value = "${data.name}"  disabled = "disabled"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Description</label>
                    </div>
                    <div class="col-75">
                        <textarea class="description2" name="description"  maxlength="400" style="height:50px" th:text = "${data.description}" disabled = "disabled"> </textarea>
                        <div class = "saveButton"><input type="submit" value="Save" style = "display:none"/></div>
                    </div>
                    <div class="col-75" style="display: none">
                        <input  type="text" class="columnName" name="columnName" value = "TO DO"/>
                    </div>
                    <div class="col-75" style="display: none">
                        <input  type="text" class="oldName" name="oldName" th:value = "${data.name}"/>
                    </div>
                    <div class="col-75" style="display: none">
                        <input  type="text" class="newColumn" name="newColumn" />
                    </div>
                </div>
            </form>
            <div class = "buttons">
                <div class = "editButton">
                    <input type="submit" value="Edit"/>
                </div>
                <div class = "deleteButton">
                    <input type="submit" value="Delete"/>
                </div>
                <div class = "moveToButton">
                    <input type="submit" value="Move to"/>
                </div>
            </div>
            <div class = "menu" style = "display:none">
                <div class = "dropMenu">
                    <div class="dropdown">
                        <Button class = "menuButtons" value="In Progress">In Progress</Button>
                        <Button class = "menuButtons" value="Done">Done</Button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id = "column2">
        <div id = "inProgressColumn">
            <p th:text = "${inProcessColumn.name}"></p>
            <div id = "In Progress"><Button class = "addButton" style="background-color: #6722AF">Add new ticket</Button></div>
        </div>
        <div class="container2" th:each="data, iterstat: ${inProgressColumnTickets}"  th:id="|td${iterstat.index}|" style="background-color: #6722AF" >
            <form class="ticketForm" method="post">
                <div class="row">

                    <div class="col-25">
                        <label>Name</label>
                    </div>

                    <div class="col-75">
                        <input type="text"  maxlength="30" class="name2" name="name" th:value = "${data.name}"  disabled = "disabled"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Description</label>
                    </div>
                    <div class="col-75">
                        <textarea  maxlength="400" class="description2" name="description" style="height:50px" th:text = "${data.description}" disabled = "disabled"> </textarea>
                        <div class = "saveButton"><input type="submit" value="Save" style = "display:none"/></div>
                    </div>
                    <div class="col-75" style="display: none">
                        <input  type="text" class="oldName" name="oldName" th:value = "${data.name}"/>
                    </div>
                    <div class="col-75" style="display: none">
                        <input  type="text" class="newColumn" name="newColumn" />
                    </div>
                    <div class="col-75" style="display: none">
                        <input  type="text" class="columnName" name="columnName" value = "In Progress" />
                    </div>
                </div>
            </form>
            <div class = "buttons">
                <div class = "editButton">
                    <input type="submit" value="Edit"/>
                </div>
                <div class = "deleteButton">
                    <input type="submit" value="Delete"/>
                </div>
                <div class = "moveToButton">
                    <input type="submit" value="Move to"/>
                </div>
            </div>
            <div class = "menu" style = "display:none">
                <div class = "dropMenu">
                    <div class="dropdown">
                        <Button class = "menuButtons" value="TO DO">TO DO</Button>
                        <Button class = "menuButtons" value="Done">Done</Button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id = "column3">
        <div id = "doneColumn">
            <p th:text = "${doneColumn.name}"></p>
            <div id = "Done"><Button class = "addButton"  style="background-color: #4CAF50">Add new ticket</Button></div>
        </div>
        <div class="container2" th:each="data, iterstat: ${doneColumnTickets}"  th:id="|td${iterstat.index}|"  style="background-color: #4CAF50">
            <form  class="ticketForm" method="post">
                <div class="row">

                    <div class="col-25">
                        <label>Name</label>
                    </div>

                    <div class="col-75">
                        <input type="text" class="name2" maxlength="30" name="name" th:value = "${data.name}" disabled = "disabled"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Description</label>
                    </div>
                    <div class="col-75">
                        <textarea class="description2"  maxlength="400" name="description" style="height:50px" th:text = "${data.description}" disabled = "disabled"> </textarea>
                        <div class = "saveButton"><input type="submit" value="Save" style = "display:none"/></div>
                    </div>
                    <div class="col-75" style="display: none">
                        <input  type="text" class="columnName" name="columnName" value = "Done"/>
                    </div>
                    <div class="col-75" style="display: none">
                        <input  type="text" class="oldName" name="oldName" th:value = "${data.name}"/>
                    </div>
                    <div class="col-75" style="display: none">
                        <input  type="text" class="newColumn" name="newColumn" />
                    </div>
                </div>
            </form>
            <div class = "buttons">
                <div class = "editButton">
                    <input type="submit" value="Edit"/>
                </div>
                <div class = "deleteButton">
                    <input type="submit" value="Delete"/>
                </div>
                <div class = "moveToButton">
                    <input type="submit" value="Move to"/>
                </div>
            </div>
            <div class = "menu" style = "display:none">
                <div class = "dropMenu">
                    <div class="dropdown">
                        <Button class = "menuButtons" value="TO DO">TO DO</Button>
                        <Button class = "menuButtons" value="In Progress">In Progress</Button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


    <div class="container">
        <form id = "newTicketForm" action="/agile_board/addticket" method="post">
            <div class="row">
                <div class="col-25">
                    <label for="name">Name</label>
                </div>
                <div class="col-75">
                    <input type="text" id="name" name="name" maxlength="30"  placeholder="Ticket name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="description">Description</label>
                </div>
                <div class="col-75">
                    <textarea id="description" maxlength="400" name="description" placeholder="Write something.." style="height:200px"></textarea>
                </div>
            </div>
            <div class="col-75">
                <input style="display: none" type="text" id="columnName" name="columnName"/>
            </div>
            <div class="row">
                <input type="submit" value="Add ticket"/>
            </div>

            <div id = "errorBlock">
                <p>Ticket with such name already exists!</p>
            </div>

        </form>
    </div>
    <div id="layer"></div>

</body>
</html>